body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #333;
}
a {
	color: #04f;
}

.video {
	margin: 20px 0;
	text-align: left;
	padding: 10px;
	max-width: 600px;
	background-color: #eee;
}
.video-wrapper {
	margin: 10px 0;
}