<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Mothership: {{ page.title }}</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/mothership.css">
</head>
<body>
	<a href="https://github.com/garann/mothership" class="forkme"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
	<h1>Mothership</h1>
	<h2>a la carte career mentorship for women developers</h2>
	<nav>
		<h3>topic categories:</h3>
		<ul>
			<li><a href="applying.html">Applying for Jobs</a></li>
			<li><a href="interviewing.html">Interviewing</a></li>
			<li><a href="professionalism.html">Professionalism</a></li>
			<li><a href="negotiation.html">Negotiation</a></li>
			<li><a href="conflict.html">Conflict Resolution</a></li>
			<li><a href="money.html">Money</a></li>
			<li><a href="longterm.html">Long-Term Goals</a></li>
		</ul>
	</nav>

	{{ content }}

	<footer>All content &copy; its respective authors.</footer>
</body>
</html>
