<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Mothership: {{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/mothership.css">
</head>
<body>
	<a href="https://github.com/garann/mothership" class="forkme"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
	<h1>Mothership</h1>
	<h2>a la carte career mentorship for women developers</h2>

	{{ content }}

	<footer>All content &copy; its respective authors.</footer>
</body>
</html>